*{
    text-decoration: none;
}
body{
    margin: 0;
    background: linear-gradient(315deg,#1a1f3a,#0f1428);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.buttonsize{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    align-items: center;
    margin-left: 80px;
    text-decoration: none ;
    cursor: pointer;
}
.buttonsize2{
    display: flex;
    padding-right: 0;
    padding-left: 0;
    height: 80px;
    align-items: center;
    margin-left: 130px;
    width:420px ;
    height: 50px ;
    text-decoration: none ;
    cursor: pointer;
    
    
}
.buttonsize3{
    display: flex;
    padding-right: 0;
    padding-left: 0;
    height: 80px;
    
    align-items: center;
    margin-left: 130px;
    width:300px ;
    height: 50px ;
    text-decoration: none ;
    cursor: pointer;

}
.buttoncolor{
 display: flex;
    background:color-transparent;
    color: #1bfefe;
    border: 40px;
    border: solid #1bfefe;
    
    border-radius: 15px;

}
.backcolor2{
    background: linear-gradient(45deg,#171c37,#0d1227);
    height: 250px;
    width: 85%;
    margin-top: 250px;
    border:solid 3px;
    border: color#1bfefe ;
    border-radius: 15px;
    
}
.blue{
    color: #00FFFF;
}
.blue2{
    background-color: #0095ff2d;
    border-color: #0096FF;
    border-style: solid;
    color: #0096FF;
    padding: 5px;
    border-width: 1.5px;
    border-radius: 15px;
}

.connection{
    display: flex;
    background: linear-gradient(45deg,#00f8fe,#0473b9);
    border: ridge;
    border-radius: 10px;
    padding: 9px;
    outline: none;
    
}
.col{
display: flex;
flex-direction: column;
align-items: center;
}


.centered{
    align-items: center;
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    
   
}
.fontsize{
    font-size: 30px;
}

.flex{
    display: flex;
    gap: 30;
}
.flexs{
    width: auto;
    display: flex;
    justify-content: center;
   
}
.flex2
{
    display: flex;
   justify-content: space-evenly;
}
.flex3
{
    display: flex;

   justify-content: center;

}
.grad1{
    background: linear-gradient(white,#1bfefe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad2{
    background:linear-gradient(135deg ,#596bce99 ,#0F142899 );
}
.green{
    background-color: rgba(0, 128, 0, 0.169);
    border-color: green;
    border-style: solid;
    color: green;
    padding: 5px;
    border-width: 1.5px;
    border-radius: 15px;
}
.gap{
    gap: 50px;
}
.grey{
    color: gray;
}
header{
    display: flex;
    background-color: #0a0e27;
    /* flex-wrap: wrap;
    width: auto; */
    margin: 0px;
    padding: 0px;
    gap:100px;
}

input{
    width: 180px;
    height: 26px;
}
img{
border-radius: 50%;
border-style: solid;
border-width: 3px ;
border-color: aqua;
box-shadow: 0 0 10px aqua;
height: 75px;
width: 75px;
margin-top: 20px;
}
.icon{
     background:linear-gradient(135deg,#00FFFF33 ,#FF00FF33 );
    width:  60px;
    height: 60px;
    display: flex;
    color: rgb(0, 157, 255);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.line{
    width: 80px;
    height: 5px;
    background: linear-gradient(to right,#00FFFF,#FF00FF);
    border-radius: 10px ;
}

label{
    color: aqua;
    font-size: 18px;
}
.maxw{
    max-width: 30ch;
    text-align: center;
}
.maxw2{
    max-width: 30ch;
    text-align: center;
}
.mar{
    margin-top: 0;
    margin-bottom: 0;
}
.num{
    font-size: 45px;
    font-weight: bold;
  background: linear-gradient(135deg ,#00FFFF,#FF00FF);
  -webkit-background-clip: text;  
  background-clip: text;          
  -webkit-text-fill-color: transparent;
}
.pic{
    
}

.red{
     background-color: rgba(255, 0, 0, 0.155);
    border-color: red;
    border-style: solid;
    color: red;
    padding: 5px;
    border-width: 1.5px;
    border-radius: 15px;
}

.spaceDown{
    margin-bottom: 40px;
}
.spaceDown2{
    margin-bottom: 100px;
}

.width{
width: 180px;
height: 25px;
align-items: center;
font-size: 20px;
color: #0b0432;
border: 0.1px;
border-color: aqua;
}
.width2{
   
    width: 300px;
    height: 270px; 
    border-width:  3px ;
     border-style: solid;
    border-color:  #00FFFF33;
   
    border-radius: 9px;
}
.width3{
   
    width: 300px;
    height: 350px; 
    border-width:  3px ;
     border-style: solid;
    border-color:  #00FFFF33;
   
    border-radius: 9px;
}
.width4{
     width: 240px;
    height: 180px; 
    border-width:  3px ;
     border-style: solid;
    border-color:  #00FFFF33;
   
    border-radius: 9px;
}

.white  
{
    color: white;
}
.wrap{
    flex-wrap: wrap;
}
.yellow{
    background-color: #ffa60035;
    border-color: #FFA500;
    border-style: solid;
    color: #FFA500;
    padding: 5px;
    border-width: 1.5px;
    border-radius: 15px;
}